<div class="oj-hybrid-padding">
<div id="bus_main" style="border:1px solid #ccc;margin: 10px 0px 20px 0px">
<div class="oj-flex" align="center" >
        <h1 id="h1--695588705-1" class="oj-flex-item">Book Local Transport</h1>
    <div class="oj-flex" align="center" style="max-width: 100%;width: 100%">
        <div class="oj-flex-item" style="margin: 10px 10px 10px 10px" data-bind="click:function(event,data){busClick()}">
                <img id="img_bus" src="css/images/transport_bus.png" height="100px" width="100px"><br/>
            Bus
        </div>
        <div class="oj-flex-item" data-bind="click:function(event,data){trainClick()}" style="margin: 10px 10px 10px 10px">
            <img id="img_train" src="css/images/transport_train.png" height="100px" width="100px"><br/>
            Train
        </div>
    </div>
 </div>
</div>
    <div class="oj-flex" align="center" style="border:1px solid #ccc; LINE-HEIGHT:120px;margin: 10px 0px 20px 0px">
        <div class="oj-flex-item" data-bind="click:function(event,data){busClick()}">
        <oj-button id="oj-button--695588705-1" style="font-size:180%"><b>Payment Gateway</b></oj-button>
        </div>
    </div>
    <div class="medical_main" style="border:1px solid #ccc;margin: 10px 0px 0px 0px">
    <div class="oj-flex" align="center">
        <h2 id="h1--695588705-3" class="oj-flex-item">Medical Records</h2>
    </div>
    <div class="oj-flex" align="center" style="max-width: 100%;width: 100%">
        <div class="oj-flex-item" data-bind="click:function(event,data){consultDoctor()}">
            <img id="view_History" src="css/images/medical_history.png" height="100px" width="100px">
            Records
        </div>
        <div class="oj-flex-item" data-bind="click:function(event,data){consultDoctor()}">
            <img id="consult_Doctor" src="css/images/consult_doctor.jpg" height="100px" width="100px">
            Consult
        </div>
    </div>
    </div>
</div>